<link rel="stylesheet" href="/stylesheets/signupForm.css">
<style>
    .select-dropdown {
        position: relative;
        background-color: #f2a51a;
        width: auto;
        float: left;
        max-width: 100%;
        border-radius: 10px;
    }

    .select-dropdown select {
        font-family: "helvetica neue", helvetica;
        font-size: .8rem;
        font-weight: 200;
        max-width: 100%;
        min-width: 30px;
        padding: 8px 24px 8px 10px;
        border: none;
        background-color: #f2a51a;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 10px;
    }

    .select-dropdown select:active,
    .select-dropdown select:focus {
        outline: none;
        box-shadow: none;
    }

    .select-dropdown:after {
        content: " ";
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 8px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #aaa;
    }

    option:hover {
        background: red !important;
    }

    .select-dropdown {
        margin-bottom: 10px;

    }
</style>

<nav id="navbar">
    <div class="container">
        <!-- Clicking on a logo usually brings the user back to the homepage -->
        <h1 class="logo"><a href="personalAccount.hbs">Plan-IT</a></h1>
        <ul>
            <li><a href="about">About</a></li>
            <li><a href="logout">Logout</a></li>

        </ul>
    </div>
</nav>

<div class="body-container">
    <div class="container-signupForm" id="container">
        <div class="form-container sign-up-container">
            <form action="/reminder" method="POST">
                <h1>Set a reminder</h1>
                <div class="select-dropdown">
                    <select class="select" name="events">
                        {{#each events}}
                        <option value="{{this._id}}">{{this.text}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="select-dropdown">
                    <select class="select" name="alertOption">
                        <option value="days" class="option">Alert 2 days before</option>
                        <option value="day">Alert 1 day before</option>
                        <option value="hour">Alert 6 hours before</option>
                    </select></div>
                <button type="submit">Done</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/invite" method="POST">
                <h1>Invite</h1>
                <div class="select-dropdown">
                    <select name="event">
                        {{#each events}}
                        <option value="{{this._id}}">{{this.text}}</option>
                        {{/each}}
                    </select>
                </div>
                <div>
                    <input type="email" name="email" placeholder="Email" />
                </div>
                <button type="submit">Invite</button>
            </form>
            <button id="create-input" onclick="addInputField()">Invite new user</button>

        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Invitation page</h1>
                    <p>Invite someone to your cool event</p>
                    <button class="ghost" id="signIn">Invite</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Alert</h1>
                    <p>Choose an event</p>
                    <button class="ghost" id="signUp">Alert</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
</footer>
<script src="/javascripts/signupForm.js"></script>
<script>
    let count = 0;
    let max = 4;
    let topPosition = 70;
    function addInputField() {
        count += 1;
        topPosition += 5;
        console.log("outPut: addInputField -> count", count)
        if (count <= max) {
            let input = document.createElement("input");
            let br = document.createElement("br");
            input.setAttribute("type", "email");
            input.setAttribute("name", "email");
            input.setAttribute("placeholder", "Email");
            console.log(document.querySelectorAll(".form-container"));
            document.querySelectorAll(".form-container div ")[0].appendChild(input);
            document.querySelectorAll(".form-container div")[0].appendChild(br);
            document.getElementById("create-input").style.top = topPosition + "%";
        }
    }
</script>