<h1>Please select the user you want to invite:</h1>
<form action="/invite" method="POST">
{{#each events}}
<select name="event">
  <option value="{{this._id}}">{{this.text}}</option>
</select>
{{/each}}

<input type="email" name="email" placeholder="Email" />
<button type="submit">Invite</button>
</form>