<div class="emailConfirmation-container">
  <h1>Please confirm your invitation.</h1>

  <a href="https://icons8.com/icon/64300/send-mail"> <img id="image" src="/images/icons8-send-mail.png" alt=""></a>

  <h2>We sent the invitation email to {{inviteEmail}}</h2>
</div>