<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.css" />
<link rel="stylesheet" href="/stylesheets/style.css">

<div class="container-content">
  <img id="profile-img" src={{user.image}} id="profileImg">
  <section>
    <form action="/upload-profile-img" method="post" enctype="multipart/form-data">
      <input type="file" name="user-img" id="myFile">
      <label for="myFile" id="upload-file-label">Choose profile picture</label>
      <button type="submit" class="img-button">Upload</button>
    </form>
    <form action="/delete-profile-img" method="POST">
      <button class="img-button img-button-top" type="submit">Delete profile picture</button>
    </form>
  </section>
  <p id="welcome-margin-top">Welcome to {{userName}}</p>
  <p>Country Name: {{zone.countryName}}</p>
  <p>Zone Name: {{zone.zoneName}}</p>
  <p id="date"></p>
  <div id="txt"></div>
  <br>
  <a id="invite-button" href="/invite">Invite</a>
  <a id="invite-button" href="/invite">Alert</a>
</div>

<body onload="start();">
  <div id="scheduler_here" class="dhx_cal_container" style="width: 80%; height: 60%; margin: 0 auto;">
    <div class="dhx_cal_navline">
      <div class="dhx_cal_prev_button">&nbsp;</div>
      <div class="dhx_cal_next_button">&nbsp;</div>
      <div class="dhx_cal_today_button"></div>
      <div class="dhx_cal_date"></div>
      <div class="dhx_cal_tab" name="day_tab"></div>
      <div class="dhx_cal_tab" name="week_tab"></div>
      <div class="dhx_cal_tab" name="month_tab"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>
  </div>

  <script src="/javascripts/script"></script>
  <script src="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.js"></script>