<link rel="stylesheet" href="/public/stylesheets/style.css">

<nav id="navbar">
  <div class="container">
    <h1 class="logo"><a href="personalAccount">Plan-IT</a></h1>
    <ul>
      <li><a href="logout">Logout</a></li>
    </ul>
  </div>
</nav>

<h1 class="aboutPadding">About meetingApp</h1>

<section class="aboutPadding">
  <p>meetingApp aims to help people schedule a meeting with people from other timezones, easily and seamlessly. Planners
    are
    extremely busy people. Taking this into concern, we focused on painless setup, effortless usage and product
    usability. Our goal is to minimize event chaos and enhance productivity. </p>
</section>